<h1>New Attachment</h1>

<% form_for @attached_file,
      :url => private_news_item_attached_files_url(@attached_file.news_item),
      :html => {:multipart => true} do |f| -%>
  <h2 id="FileUploadForm">
    <%= f.label :data, 'Choose a File' %>
    <%= f.file_field :data %>
    <p><%= f.submit 'Upload Attachment' -%></p>
  </h2>
  
  <%= f.hidden_field :news_item_id %>
<% end -%>

<p>
  This file will be attached to the news item:
  <%= render :partial => 'private/attached_files/news_item', :object => @attached_file.news_item %>
</p>