<h1>Add Attachment</h1>

<% form_for @attached_file,
      :url => private_news_item_attached_files_url(@attached_file.news_item),
      :html => {:multipart => true} do |f| -%>
	<h2 id="FileUploadForm">
		<%= f.file_field :data %>
		<p>
			<%= f.submit 'Upload This Attachment' -%>
			<em>or</em>
			<%= link_to 'I\'m done posting attachments to this news story.', private_news_items_url -%>
		</p>
	</h2>
	
	<%= f.hidden_field :news_item_id %>
<% end -%>

<p>
	<%= render :partial => 'private/attached_files/news_item', :object => @attached_file.news_item %>
</p>
