<h1>New News Item</h1>

<% form_for @news_item, :url => private_news_items_url do |f| -%>
	<div id="NewNewsItemForm">
		<h2>
			<%= f.label :title, 'Title:' -%>
			<%= f.text_field :title %>
		</h2>
		<p class="private_story_indicator">
			<%= f.check_box :is_private %>
			<%= f.label :is_private, 'This Post is Private (Band Members Only)' %>
		</p>
		<p><%= f.label :body -%></p>
		<p>
			<%= f.text_area :body %>
		</p>
		<p><%= f.submit 'Post News Item' -%></p>
		<p>You will be able to attach files to this news item after it is posted.</p>
	</div>
<% end -%>
