<tr id="member_<%= member.id -%>">
	<td class="operations">
		<% if current_member.has_role?('Roster Adjustment') %>
			<%= render :partial => 'operations', :locals => {:member => member} %>
	<% end %>
	</td>
	<td><%= image_tag member.photo.url(:tiny), :alt => "Picture of #{member}." %></td>
	<td><%= member.name -%></td>
	<td><%= member.email -%></td>
	<td><%= member.section %></td>
</tr>
