<h1 id="Name"><%=h @member.name -%></h1>
<h2 id="Section"><%=h @member.section -%></h2>

<%= image_tag @member.photo.url(:headshot), :id => 'Headshot', :alt => "Picture of #{@member}" %>
<div class="member_datum">
	<p class="label">E-Mail Address</p>
	<p><%=h @member.email -%></p>
</div>
<div class="member_datum">
	<p class="label">Biography</p><br />
  <p><%=h @member.biography %></p>
</div>
<div class="spacer"></div>

<% if has_member_edit_permission(current_member) -%>
<div id="Actions">
	<%= link_to 'Edit Profile', edit_private_member_path(@member) %>
</div>
<% end -%>