<div class="concert">
	<h2>
		<%= concert.date.strftime('%A %B %d, %Y') -%><br />
		<%= concert.time.strftime('%I:%M%p') unless concert.time.blank? -%><br />
		<%= concert.title %>
	</h2>
	<h4>
		<%= concert.location %>
	</h4>

	<%= concert.description %>
</div>
