<h3 class="instructions">Once logged in, you can...</h3>
<ul>
	<li><%= link_to 'Edit your Profile', edit_member_path(current_user) -%></li>
	<li><%= link_to 'Review the Roster of Players', private_roster_path(current_user) -%></li>
</ul>

<% if @member.privileged? -%>
	<h3 class="instructions">As a <em><% link_to 'privileged', edit_private_privileges_path -%></em> member, you can...</h3>
	<ul>
		<li><%= link_to 'Change/Reorder the Roster of Players', private_roster_path(current_user) -%></li>
		<li>
			Edit Any Member's Profile:
			<% form_for Member, :url => edit_member_url(current_user) do |f| -%>
				<%= f.select :id, Member.all.collect {|s| [s.name, s.id] } %>
				<%= f.submit 'Edit This Member' %>
			<% end -%>
		</li>
		<li><%= link_to 'Post Public and Private Announcements', new_private_news_item_path -%></li>
	</ul>
<% end -%>
