<li style="display: inline-block; width: 100%" class="member" id="member_<%= member.id -%>">
	<div class="operations">
		<% if current_user.privileged? -%>
			<%= render :partial => 'private/rosters/operations', :locals => {:member => member} %>
		<% else -%>
			&nbsp;
		<% end %>
	</div>
	
	<% link_to member_path(member) do -%><% end %>
	<div class="photo"><%= image_tag member.photo.url(:tiny), :alt => "Picture of #{member}." %></div>
	<div class="name_column">
		<span class="name"><%= member.name -%></span><br />
		<span class="hint">Drag to re-seat.</span>
	</div>
	<div class="contact">
		<%= member.email -%><br />
		<%= member.pretty_phone_number %>
	</div>
</li>
