<tr id="member_<%= member.id -%>">
	<td class="operations">
		<%= render :partial => 'private/rosters/operations', :locals => {:member => member} %>
	</td>
	
	<td><%= image_tag member.photo.url(:tiny), :alt => "Picture of #{member}." %></td>
	<td><%= member.name -%></td>
	<td>
	  <%= member.email -%><br />
	  <%= member.phone_number %>
	</td>
	<td><%= member.section %></td>
</tr>
