<ul class="menu_bar">
	<%= link_to '<li>Home</li>', home_path %>
	<%= link_to '<li>News</li>', news_path %>
	<%= link_to '<li>History</li>', history_path %>
	<%= link_to '<li>Members</li>', members_path %>
	<%= link_to '<li>Concerts</li>', concerts_path %>
	<%= link_to '<li>Joining</li>', join_path %>
	<%= link_to '<li>Booking</li>', book_path %>
	<%= mail_to 'webmaster@madisonbrass.com', '<li>Contact</li>' %>
</ul>