<h1>Join the Madison Brass Band</h1>

<h2>Who is welcome?</h2>
<p>
	In short, we are looking for friendly people who know their stuff. Prospective members who are both great people and good musicians are always in high demand; we'd love to talk to you!
</p>
<p>
	Brass bands are designed such that people can switch around and read each others' parts, even between horns, so while we may be full in one section, that doesn't mean there isn't a spot for you. Moreover, our members may have a horn you can borrow, so <em>you may not need to own the instrument you play.</em> This may be especially useful to trumpet, french horn or bell-front baritone players; we probably have a brass band instrument (cornet, alto horn, british baritone) that you can play, so don't let a wrong instrument stop you!
</p>
<h3>Am I right for this group?</h3>
<ol>
	<li>If you are the best trumpet player ever, played first chair in high school and college, and will continue to play first chair in any band you see because, heck, there's nobody better, <em><%= link_to 'do not join this band', 'http://www.theonion.com/articles/vacationing-family-visits-worlds-biggest-asshole,9185/' -%>.</em></li>
	<li>If you have a rusting horn in your garage, pull it out to honk once in a while but generally would rather pass the time than rehearse, <em><%= link_to 'do not join this band', 'http://www.theonion.com/articles/twothirds-of-high-school-marching-band-just-preten,9799/' -%>.</em></li>
	<li>If you are an enthusiastic brass or percussion player with a work ethic who loves playing good music at a high level for fun, you might be perfect for the group. Please, <em><%= mail_to 'director@madisonbrass.com', 'get in touch with us' -%></em> right away, and let's get started!</li>
</ol>

<h2>How do I join?</h2>
<p>
	First and foremost, if you want to learn more or just aren't sure whether the band is for you, <em>please attend and observe a rehearsal!</em> Madison Brass Band rehearsals are <em>always</em> open for observers, and we'd love the chance to meet you face-to-face. We occasionally hold sectional days, work in smaller ensembles or move rehearsals to a new location, so please <%= mail_to 'director@madisonbrass.com', 'let our musical director know you\'re coming' -%> so you know what to expect. We'd rather you see a full-band rehearsal, and we think you would, too!
</p>
<p>
	We do not, in general, have set audition days; auditions for the band are arranged individually between the musician and the musical director.
</p>
<p>
	If you are ready to audition, <%= mail_to 'director@madisonbrass.com', 'get in touch with the musical director' -%>. With him, you will arrange for an appropriate audition from the following two components.
	<ul>
		<li>Schedule a time to attend one of our weekly rehearsals with your instrument. This will be a mutual audition, where both yourself and the band will be looking for whether you make a good fit.</li>
		<li>Arrange a private audition with the musical director, outside of rehearsal. The audition will be part interview ("Where did you learn to play? What kind of music do you enjoy?") and part technical, so expect to have something prepared which shows what you can do on your horn.</li>
	</ul>
	Potential players should realize that brass bands have a set instrumentation, and there may not always be an immediate opening available. We do, however, keep an active sub list and members of the sub list are invited to fill openings as they occur.
</p>
<p>
	Whether you plan to attend a rehearsal or if you'd like to audition straight away, please <%= mail_to 'director@madisonbrass.com', 'contact our musical director' -%>.  
</p>
<p>
	It is important to note that, in a brass band, trombone, baritone, euphonium, and tuba players all read treble clef parts. 95% of the music is written in treble clef, and there simply isn't time to write out parts for those who can't transpose.
</p>
<p>
	Our <%= link_to '2009 Member Handbook', 'MBBOperations.pdf' %> details on audition procedures and on general band operations (including our bylaws). Prospective members are encouraged to flip through this, in addition to the above steps, to get a full picture of the band.
</p>

<h2>What does it cost?</h2>
<p>
	Madison Brass Band has a "volunteer or pay" policy. There is always work to be done, whether by generating publicity items for the band, looking for new venues, or other administrative tasks. If you haven't the time, we would still love to have you with us, but we would ask a $50 contribution for the purchase of new music and such things.
</p>
<p>
	Players must have black concert attire (for men, that means owning a tuxedo). In the summer, we use uniform oxford shirts which cost each player about $35.
</p>

<h2>Sounds about right?</h2>

<p>
	If you know your stuff, can leave your ego at the door, and are ready to work for excellence, <%= mail_to 'director@madisonbrass.com', 'send us an e-mail' -%> and we'll get started!
</p>
