<%= render :partial => 'layouts/doctype' %>
<html>
	<head>
		<title>Madison Brass Band - <%= controller_name.titleize -%></title>
		<%= css_auto_include_tags %>
	</head>
	
	<body>
		<%= render :partial => 'layouts/application/header' %>
		<div class="container">
			<%= yield %>
		</div>
		<%= render :partial => 'layouts/application/footer' %>
	</body>
</html>