<%= render :partial => 'layouts/doctype' %>
<html>
	<head>
		<title>Madison Brass Band - <%= controller_name.titleize -%></title>
		
		<!-- Google lets us load javascript quickly from their wicked-fast CDN. -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/blitzer/jquery-ui.css" type="text/css" rel="stylesheet" media="screen" charset="utf-8" />
		
		<%= css_auto_include_tags %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag 'jquery.watermark.js' %>
		<%= javascript_include_tag 'jquery.blockUI.js' %>
		<%= javascript_auto_include_tags %>
	</head>
	
	<body>
		<%= render :partial => 'layouts/application/header' %>
		<%= render :partial => 'layouts/application/notices' %>
		<div class="container">
			<%= yield %>
		</div>
		<%= render :partial => 'layouts/application/footer' %>
		<%= render :partial => 'layouts/application/google_analytics' %>
	</body>
</html>