<%= render :partial => 'layouts/doctype' %>
<html>
	<head>
		<title>Madison Brass Band - <%= controller_name.titleize -%></title>
		<%= stylesheet_link_tag 'application' %>
		<%= stylesheet_link_tag 'home' %>
		<%= stylesheet_link_tag 'concerts/next' %>
	</head>
	
	<body>
		<%= render :partial => 'layouts/application/menu' %>
		<%= render :partial => 'layouts/application/header' %>
		<%= render :partial => 'layouts/home/summary' %>
		<hr class="banner" />
		<%= yield %>
		<hr class="banner" />
		<%= render :partial => 'layouts/application/footer' %>
	</body>
</html>