<h1>Edit <%= @member -%>'s Profile</h1>

<% form_for @member, :html => {:multipart => true} do |f| %>
	<h2>
		<% if current_user.privileged? -%>
			<%= f.select :section_id, Section.all.collect {|s| [s.name, s.id] } %>
		<% else -%>
			<%= @member.section %>
		<% end -%>
	</h2>
	
	<%= f.error_messages %>

	<div id="HeadshotContainer">
		<%= image_tag @member.photo.url(:headshot), :id => 'Headshot', :alt => "Picture of #{@member}" %>
		<p>
			<%= f.label :photo, 'Change Photo' %><br />
			<%= f.file_field :photo %>
		</p>
	</div>
	
	<div class="member_datum">
		<%= f.label :email, 'E-Mail', :class => 'label' %>
		<%= f.text_field :email %>
	</div>
	
	<div class="member_datum">
		<%= f.label :phone_number, 'Phone', :class => 'label' %>
		<%= f.text_field :phone_number, :value => @member.pretty_phone_number %>
	</div>
	
	<%= link_to_function 'Change Password', "$('#PasswordFields').show(); $(this).hide();" %>
	<div id="PasswordFields">
		<%= render :partial => 'password', :locals => {:f => f} %>
	</div>
	
	<div class="member_datum">
		<%= f.label :biography, 'Biography', :class => 'label' %><br />
		<%= f.text_area :biography, :rows => 13 %>
	</div>
	<div class="spacer"></div>

	<div id="Actions">
		<%= f.submit "Save" %>
	</div>
<% end %>
