<h1 id="Name"><%=h @member.name -%></h1>
<h2 id="Section"><%=h @member.section -%></h2>

<%= image_tag @member.photo.url(:headshot), :id => 'Headshot', :alt => "Picture of #{@member}" %>
<div class="member_datum">
	<p class="label">E-Mail Address</p>
	<p><%=h @member.email -%></p>
</div>
<div class="member_datum">
	<p class="label">Phone Number</p><br />
  <p><%=h @member.phone_number -%></p>
</div>
<div class="member_datum">
	<p class="label">Biography</p><br />
  <p><%=h @member.biography %></p>
</div>
<div class="spacer"></div>

<% if current_member_has_member_edit_permission(@member) -%>
	<div id="Actions" class="members_only">
		<%= link_to 'Edit Profile', edit_member_path(@member) %>
	</div>
<% end -%>